h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red; font-size: 24pt;text-align: justify;}
h2{
    color: red;font-size: 18pt;}
h3{
    color:red;font-size: 14pt;}
body{font-size: 10pt;}