table{width:600px;text-align: justify;border: 1px solid black;margin-left: auto;margin-right: auto;}
th{border: 1px solid black;background-color: aquamarine; text-align: center;}
td{border: 1px solid;}
.a1{text-align: center;}
.a2{width: 100px;text-align: center;}
.a3{width: 100px;text-align: center;}