body    {color: rgb(61, 81, 98);;
    background-color: rgb(195, 195, 195);
         text-align: justify;font-size: 20px
        ;font-style: italic;}

em{ text-transform: uppercase;}
.p2{
    font-style: italic;
}
strong{text-transform: uppercase;text-decoration: underline;}