h1{text-align: center;}

table {
        width: 400px;border-collapse:collapse;
        margin-left: auto;
        margin-right: auto;
    }

td{ border: 1px solid black;padding: 8px;}

td{
    background-color: yellow;
    color: red; text-align: center;
}
